In [21]:
import pandas as pd
import sqlite3 as sl

lig2seq = pd.read_csv('lig2seq.csv').rename({'lig': 'lig_id', 'seq': 'seq_id'}, axis=1)
ligands = pd.read_csv('ligands.csv').rename({'id': 'lig_id'}, axis=1)
sequences = pd.read_csv('sequences.csv').rename({'Unnamed: 0': 'seq_id'}, axis=1)

In [22]:
print(lig2seq.shape)
lig2seq.head()

(3542211, 2)

   lig_id  seq_id
0       0     616
1       0    6694
2       0   14453
3       0   17134
4       0   21090

In [23]:
print(ligands.shape)
ligands.head()

(500000, 3)

   lig_id  PubChem CID                                             SMILES
0       0      3081361  CN1CCC(CC1)COC2=C(C=C3C(=C2)N=CN=C3NC4=C(C=C(C...
1       1      5327236  C1=CC=C(C=C1)C[C@H]2N(C(=O)N([C@@H]([C@@H]([C@...
2       2      5327235  C1CC1CN2[C@@H]([C@@H]([C@H]([C@H](N(C2=O)C/C=C...
3       3      5327234  C1CC1CN2[C@@H]([C@@H]([C@H]([C@H](N(C2=O)CCCCC...
4       4      3009319  C1CC1CN2[C@@H]([C@@H]([C@H]([C@H](N(C2=O)CCCCC...

In [24]:
print(sequences.shape)
sequences.head()

(105802, 2)

   seq_id                                           sequence
0       0  MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...
1       1  MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNAAAKSE...
2       2  MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...
3       3  MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNSLDAAK...
4       4  MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNAAKSAA...

In [20]:
conn = sl.connect('protein.sqlite3')

lig2seq.to_sql('lig2seq', conn)
ligands.to_sql('ligands', conn)
sequences.to_sql('sequences', conn)

/home/quinn/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2522: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype, method=method)